footer
  .twitter
    a(href="https://twitter.com/Dysiode") @dysiode
  .phone +1 (719) 359-9575
  .email
    a(href="mailto:p@trickkennedy.com") p@atrickkennedy.com

  .linkedin
    a(href="https://www.linkedin.com/in/patrick-kennedy-15295681") Linkedin
  .github
    a(href="https://github.com/PatrickKennedy") Github
  .instagram
    a(href="https://www.instagram.com/dysiode/") Instagram

  .location
    a(href="https://www.google.com/maps/place/Colorado+Springs,+CO/") Colorado Springs, United States

