mixin icon-link(url, icon)
    a(href="#{url}")
      i(class="fa fa-#{icon}")
      block

footer.site-footer
  //
    .twitter
      a(href="https://twitter.com/Dysiode") @dysiode
    .email
      a(href="mailto:p@trickkennedy.com") p@trickkennedy.com

  .phone-number
    +icon-link("tel:719-359-9575", "mobile") +1 719 359 9575

  .location
    +icon-link("https://www.google.com/maps/place/Denver,+CO/", "map-marker")
      | Denver, United States

  .social-links
    .twitter
      +icon-link("https://twitter.com/Dysiode", "twitter") Twitter
    .github
      +icon-link("https://github.com/PatrickKennedy", "github") Github
    .linkedin
      +icon-link("https://www.linkedin.com/in/patrick-kennedy-15295681", "linkedin") Linkedin
    .instagram
      +icon-link("https://www.instagram.com/dysiode/", "instagram") Instagram

