footer.site-footer
  //
    .twitter
      a(href="https://twitter.com/Dysiode") @dysiode
    .email
      a(href="mailto:p@trickkennedy.com") p@trickkennedy.com

  .phone-number
    a(href="tel:719-359-9575") +1 719 359 9575

  .location
    a(href="https://www.google.com/maps/place/Denver,+CO/") Denver, United States

  .social-links
    .twitter
      a(href="https://twitter.com/Dysiode") Twitter
    .github
      a(href="https://github.com/PatrickKennedy") Github
    .linkedin
      a(href="https://www.linkedin.com/in/patrick-kennedy-15295681") Linkedin
    .instagram
      a(href="https://www.instagram.com/dysiode/") Instagram

