header.site-header
  a.site-title(href="#/") Patrick Kennedy

  nav.site-nav
    ul
      li
        a(href="#/resume") Resume
      li.divider |
      li
        a(href="#/portfolio") Portfolio
    //
      li
        a(href="#/about") About
      li
        a(href="#/contact") Contact
