header
  .title
    a(href="#/") Patrick Kennedy

  nav
    ul
      li
        a(href="#/resume") Resume
      li
        a(href="#/portfolio") Portfolio
      li
        a(href="#/about") About
      li
        a(href="#/contact") Contact
