// Breakpoints
$medium-screen: 600px
$large-screen: 900px

// Typography
$sans-serif: 'Open Sans', sans-serif
$serif: 'Roboto Slab', serif

$base-font-family: $serif
$heading-font-family: $sans-serif

// Font Sizes
$base-font-size: 1.1em

// Font Weights
$base-font-weight: 300
$heading-font-weight: 400

// Line height
$base-line-height: 1.5
$heading-line-height: 1.2

// Other Sizes
$base-border-radius: .25em
$base-spacing: $base-line-height * 1em
$small-spacing: $base-spacing / 2
$base-z-index: 0

// Colors
$blue: #1565c0
$pale-blue: #e9f0f5

$dark-grey: #303E49
$medium-grey: lighten($dark-grey, 30)
$light-grey: lighten($medium-grey, 45)

$soft-grey: #7f8c97
$blue-grey: #303E49
$off-white: #fafafa
$dark-white: darken(#fafafa, 10)
$nav-link-color: #D30006

$light-green: #75ce66
$teal: #64C3C1
$teal-green: mix($light-green, $teal, 70)

$teal-red: #c36466

$grass-green: #4a7c24
$light-grass-green: #8ed459
$easter-green: saturate(tint(lighten($grass-green, 15), 35), 20)


// Font Colors
$base-font-color: darken($soft-grey, 5)
$heading-font-color: $dark-grey
$action-color: $blue

// Border
$base-border-color: $medium-grey
$base-border: 1px solid $base-border-color

// Background Colors
$base-background-color: $light-grey
$dark-background-color: saturate(lighten($medium-grey, 10), 45)
$secondary-background-color: tint($base-border-color, 75%)

// Forms
$form-box-shadow: inset 0 1px 3px rgba(black, 0.06)
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3)

// Animations
$base-duration: 150ms
$base-timing: ease
