doctype html
html(ng-app='personal')
  head
    if styles
      each path in styles
        link(rel="stylesheet" type="text/css" href="css/#{path}")

  body(ng-controller="PersonalController as app")
    #container
      #wrapper
        include ./partials/header.jade
        
        #content(ng-view)

        include ./partials/footer.jade

    if scripts
      each path in scripts
        script(type="text/javascript" src="js/#{path}")
